@keyframes animation_delay {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
#background_video_blur {
  width: 100vw;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
  object-fit: cover;
  background-color: transparent;
}
.background_video {
  animation-name: animation_delay;
  animation-duration: 1s;
  width: 100vw;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
  object-fit: cover;
}
.contents {
  position: relative;
  z-index: 3;
}
.header_contents {
  animation-name: animation_delay;
  animation-duration: 1s;
  position: absolute;
  top: 0;
  padding-top: 50px;
  padding-left: 50px;
}
.header_contents h1 {
  font-size: 50px;
  font-weight: bold;
}
.header_contents ul li {
  margin-top: 45px;
  font-size: 20px;
  list-style: none;
}
.header_contents ul li a:hover {
  color: #403f3e;
}
#about {
  padding: 100px 0;
  position: relative;
  top: 800px;
  text-align: center;
}
#about h2 {
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 50px;
}
#about p {
  line-height: 80px;
}
#skills {
  position: relative;
  top: 800px;
  text-align: center;
  padding: 100px 0;
}
#skills h2 {
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 50px;
}
#skills ul {
  display: flex;
  justify-content: space-around;
  width: 80vw;
  margin-left: 10vw;
}
#skills ul li img {
  width: 150px;
  height: 150px;
}
#skills ul li p {
  font-size: 30px;
  padding-bottom: 30px;
}
#works {
  position: relative;
  top: 800px;
  text-align: center;
  padding: 100px 0;
}
#works h2 {
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 50px;
}
#works img {
  width: 40vw;
  height: 30vh;
  object-fit: cover;
}
#contact {
  position: relative;
  top: 800px;
  text-align: center;
  padding: 100px 0;
}
#contact h2 {
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 50px;
}
